# tmp files
.DS_Store
*.swo
*.swp
**tmp**

# ide garbage
.project
.settings/*
.vscode
.idea

# metrics results
.nyc_output
coverage
jsdoc
dependency-violations.html
.cache

# node and npm
/node_modules/
isolate-*-v8.log
npm-debug.log
yarn-error.log
package-lock.json
.pnp*
dependency-cruiser-*.tgz

# integration test intermediate files
test/integration/*.testing-ground
