# tmp files
.DS_Store
*.swo
*.swp
**tmp**

# ide garbage
.project
.settings/*
.vscode

# metrics results
.nyc
coverage
jsdoc
platoreports

# node and npm
/node_modules/
isolate-*-v8.log
npm-debug.log
package-lock.json

# other stuff
.dependency-cruiser.json
