cache:
  key: "$CI_JOB_NAME"
  untracked: true
  paths:
    - node_modules

test_async_node_latest:
  image: node:latest
  script:
   - rm -rf node_modules
   - npm install
   - npm run lint
   - npm run depcruise
   - npm run nsp
   - npm run test:cover
  except:
   - tags

test_async_node_8:
  image: node:8
  script:
   - rm -rf node_modules
   - npm install
   - npm run test:cover
  except:
   - tags

test_async_node_6:
  image: node:6
  script:
   - rm -rf node_modules
   - npm install
   - npm run test:cover
  except:
   - tags

test_async_node_4:
 image: node:4
 script:
  - rm -rf node_modules
  - npm install
  - npm run test:cover-node4 # - coffeescript doesn't support node 4 anymore
  # - npm run nsp - nsp is not supported on node 4 anymore
 except:
  - tags

# publish:
#  image: node:latest
#  script:
#    - echo 'npm publish'
#  only:
#    - tags
