.DS_Store
*.swp
*.swo
.project
.settings/*
/node_modules/
platoreports
jsdoc
coverage
src/favicon.ico
src/*favicon-*.png
src/*tmp*.*
*tmp*.*
*tmp*/**
tracking.*
siteverification.id
tmp_*.md
npm-debug.log
isolate-*-v8.log
build
