# tmp files
.DS_Store
*.swo
*.swp
**tmp**

# ide garbage
.project
.settings/*
.vscode

# metrics results
.nyc
coverage
jsdoc
platoreports

# node and npm
/node_modules/
isolate-*-v8.log
npm-debug.log
package-lock.json

# other stuff
.dependency-cruiser.json

# specificly ignore for npm
.bithoundrc
.dependency-cruiser-custom.json
.eslintignore
.eslintrc.json
.github
.gitlab-ci.yml
.istanbul.yml
.travis.yml
appveyor.yml
CODE_OF_CONDUCT.md
doc/**
docs/**
Makefile
test/**
tslint.json
