.DS_Store
*.swp
*.swo
.project
.settings/*
/node_modules/
platoreports
jsdoc
coverage
src/favicon.ico
src/*favicon-*.png
src/*tmp*.*
*tmp*.*
*tmp*/**
tracking.*
siteverification.id
tmp_*.md
npm-debug.log
isolate-*-v8.log
build
.dependency-cruiser.json
doc/real-world-samples.md
doc/real-world-samples/**
doc/assets/ZKH-Dependency-recolored-320.png
doc/assets/ZKH-Dependency-recolored-320.svg
test/**
utl/**
.bithoundrc
.dependency-cruiser-custom.json
.eslintignore
.eslintrc.json
.gitlab-ci.yml
.istanbul.yml
Makefile
