sudo: required

language: node_js

node_js:
  - "8"
  - "10"
  - "12"

before_install:
  - wget https://github.com/sharkdp/hyperfine/releases/download/v1.5.0/hyperfine_1.5.0_amd64.deb
  - sudo dpkg -i hyperfine_1.5.0_amd64.deb

install:
  - npm install

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - npm run depcruise
  - 'npm run test:glob && npm run test:cover'
  - 'if test `node --version | cut -c 2,3` = 12; then npm run lint && npm run test:integration && npm run test:load:short; fi'
  - 'if test `node --version | cut -c 2,3` = 10; then npm run test:integration; fi'
  - 'if test `node --version | cut -c 2,2` = 8; then npm run test:integration; fi'

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

branches:
  except:
    - gh-pages

cache:
  directories:
   - node_modules
