name: linting & test coverage - linux

on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 10.x
          - 12.x
          - 14.x
        platform:
          - ubuntu-latest

    runs-on: ${{matrix.platform}}

    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: cache node modules for ${{matrix.node-version}}@${{matrix.platform}}
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{matrix.node-version}}@${{matrix.platform}}-build-${{hashFiles('package.json')}}
          restore-keys: |
            ${{matrix.node-version}}@${{matrix.platform}}-build-
      - name: set up node ${{matrix.node-version}}@${{matrix.platform}}
        uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node-version}}
      - name: install & build
        run: |
          node --version
          npm install
          npm run build
        shell: bash
        env:
          CI: true
      - name: cache eslint for ${{matrix.node-version}}@${{matrix.platform}} (run on one platform only)
        uses: actions/cache@v1
        with:
          path: .cache
          key: ${{matrix.node-version}}@${{matrix.platform}}-build-eslint-${{hashFiles('package.json')}}
          restore-keys: |
            ${{matrix.node-version}}@${{matrix.platform}}-build-eslint-
        if: matrix.platform == 'ubuntu-latest' && matrix.node-version == '14.x'
      - name: lint (run on one platform only)
        run: |
          node --version
          npm run lint
        if: matrix.platform == 'ubuntu-latest' && matrix.node-version == '14.x'
        shell: bash
        env:
          CI: true
      - name: forbidden dependency check
        run: |
          node --version
          npm run depcruise
        shell: bash
        env:
          CI: true
      - name: test coverage
        run: |
          node --version
          npm run test:cover
        shell: bash
        env:
          CI: true
